body{
    background-color: #FEF7F0;
}

header, section{
    margin: 0 20%;
}

/* header */
.home, .menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home{
    justify-content: space-between;
}

.form-size{
    height: 50px;
}

.form-size:hover { opacity: 0.7; } 

.search{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    padding: 10px 30px;
    border: 1px solid black;
}

/* チャットレディ一覧 */
section{
    margin-bottom: 5%;
}

.flex{
    display: flex;
    padding: 10px;
    border: 1px solid gray;
}

.flex img{
    width: 190px;
    height: 190px;
    margin: 10px;
}

.info{
    margin-left: 5%;
    padding: 20px 0;
}

.link-1{
    text-decoration: none;
}
.link-1:link { color: black; }
.link-1:visited { color: black; } 
.link-1:hover { opacity: 0.7; } 

/* SNSアイコン全体 */
.follow-me {
    list-style: none;
    margin: 0 0 -8px;
    overflow: hidden;
    padding: 0;
  }
  .follow-me li {
    float: left;
    margin: 0 8px 8px 0;
    padding: 0;

  }
  .follow-me li a::before {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-family: FontAwesome;
    font-size: 16px;
    height: 30px; /* Button height */
    line-height: 30px; /* Button height */
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    text-align: center;
    width: 30px; /* Button width */
  }
  .follow-me li a:hover::before {
    opacity: 0.7;
  }
  .follow-me li a[href*="facebook.com"]::before       { background-color: #3b5998; content: "\f09a"; }
  .follow-me li a[href*="instagram.com"]::before      { background-color: #125688; content: "\f16d"; }
  .follow-me li a[href*="twitter.com"]::before        { background-color: #55acee; content: "\f099"; }

/* 最新イベント情報 */
.flex-1{
    display: flex;
    justify-content: space-between;
}

.link-2{
    text-decoration: none;
    margin: 20px;
    width: 30%;
    height: auto;
}

.link-2:link { color: black; }
.link-2:visited { color: black; } 
.link-2:hover { opacity: 0.7; } 

.flex-2{
    flex-flow: column;
}

/* フッター */
footer{
    background-color: dimgrey;
}

.last-menu{
    padding: 15px 20%;
}

.last-menu h3{
    border-bottom: 1px solid white;
    color: white;
    width: 20%;
}

@media screen and (max-width: 950px) {
    body{
    min-width: 350px;
    }

    .home {
        flex-flow: wrap;
    }

    .menu{
        flex-flow: column ;
        align-items: flex-start;
    }

    h2{
        border: none;
        padding: 5px;
        margin: 10px 0;
    }

    .flex, .flex-1{
        flex-flow: column;
    }

    .flex-1{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gra{
        text-align: center;
    }

    .flex-2{
        margin: 30px 0;
    }

    .flex a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
    }

    .last-menu h3{
        width: 80%;
    }


}